<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.today.todayfarm">
    //地图包、搜索包需要的基础权限
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:replace="android:icon">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8195b0d10fd123e1c387d32e145edb25" />

        <!-- TODO: -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="YOUR_APP_KEY" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="TodayFarm_android" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".MainMapActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".WeatherSearchActivity" />
        <activity android:name=".FarmListActivity" />
        <activity android:name=".AddNewFieldActivity" />
        <activity android:name=".DrawNewFieldActivity" />
        <activity android:name=".FieldListActivity" />
        <activity android:name=".AddFarmActivity" />
        <activity android:name=".EditFieldinfoActivity" />
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WebMapActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".pages.regist.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.tabs.TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.AddFarmMap.AddFarm2MapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.createFarm.CreateFarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.pagedetail.FarmDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.selectfarmthing.SelectFarmThingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.EditFarmThing.EditFarmthingZhengdiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.EditFarmThing.EditFarmthingBozhongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.EditFarmThing.EditFarmthingShifeiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.EditFarmThing.EditFarmthingGuangaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.EditFarmThing.EditFarmthingZhibaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.EditFarmThing.EditFarmthingShougeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.selectfarm.SelectFarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewCrop.AddNewCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.CropList.CropListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.selectcrop.SelectCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.createcrop.CreateCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.farmThingList.FarmThingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.menu.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />
        <activity
            android:name=".pages.zhuji.ZhujiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.note.EditNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.threeDaysWeather.ThreeDaysWeatherActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.chart.RainDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.chart.TempDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.chart.FullChartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.tabs.DrawerTabActivity"
            android:label="@string/title_activity_drawer_tab"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>